* {
  box-sizing: border-box;
}
/*body {
  padding-top: 55px;
}*/
.main {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.line {
  width: 100%;
  margin: auto;
  background-color: #D3D3D3;
  height: 2px;
  margin-top: 5px;
}
.redline {
  width: 10%;
  margin: auto;
  background-color: #b20000;
  height: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#nav_bar {
  background-color: white;
  margin-bottom: 0;
}

.home-top {
  background: url('../images/slc_small2.jpg') no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  /*margin-bottom: 40px;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*@media(min-width: 1050px) {
  .home-top {

    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/
}
/*@media(min-width: 1000px) {
  .home-top {
    height: 650px;
  }
}*/
.keblack-image {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.home-top img {
  width: 40%;
  height: auto;
}
@media(max-width: 500px) {
  .home-top img {
    width: 300px;
    height: auto;
  }
}
@media(min-width: 1400px) {
  .home-top img {
    width: 35%;
    height: auto;
  }
}
.keblack-top {
  display: block;
  margin: auto;
  /*justify-content: center;*/
}
.home-top p {
  text-align: center;
  width: 65%;
  color: white;
  margin: 0 auto;
}
.home-photo button {
  margin: 0 auto;
  color: white;
  text-align: center;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: rgba(0,0,0, 0.8)
}
.home-photo button:hover {
  transform: scale(1.05);
}
.HC {
  font-size: 40px;
  font-weight: bold;
}
.homepic-text {font-size: 1.2em}

.menu {
  height: 30px;
  width: 100%;
  margin: auto;
  background-color: black;
  padding-top: -10px;
}
.navlogo {
  height: 40px;
  width: auto;
  padding: 0;
  margin-top: -10px;
}
.navlogo:hover {
  transform: scale(1.1);
}
/***************************home-about*******************************/
.home-about {
  height: 700px;
  width: 100%;
  /*display: flex;*/
  /*justify-content: center;
  flex-direction: column;*/
}
.about-text {
  font-size: 1.4em;
  padding-top: 10px;
}
.home-about-intro {
  /*margin: 10px;*/
  padding: 10px;
  padding-top: 40px;
  text-align: center;
  width: 80%;
  margin: auto;
}
.home-about-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-card {
  height: auto;
  width: 410px;
  margin: 10px;
  padding: 10px;
}
.about-card h4 {
  color: #b20000;
}
@media(min-width: 1000px) {
  .about-card {
    height: auto;
    width: 500px;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
  }
}
@media(max-width: 850px) {
  .home-about-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .about-card {
    height: 200px;
    width: 300px;
    margin: 1px;
    padding: 1px;
  }
  .home-about {
    height: auto;
  }
  .about-text {
    font-size: 1.2em;
  }
}
@media(max-width: 400px){
  .about-text {
    font-size: 1.1em;
  }
  .about-card {
    font-size: .9em;
    height: auto;
  }
  .home-about {
    height: auto;
  }
}
.aboutbutton-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  padding: 10px;
}
.about-button {
  margin: 10 auto;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  /*opacity: .5;*/
  text-decoration: none;
  outline: none;
  text-align: center;
  color: #b20000;
  font-weight: bold;
}
.about-button:hover {
  background-color: #b20000;
  opacity: .8;
  color: white;
}

/***************************home experience*******************************/

.home-experience {
  background: url('../images/leaf_small.jpg') no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  display: block;
  /*margin-bottom: 40px;*/
  /*display: flex;*/
  /*justify-content: center;
  flex-direction: column;*/
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-experience-header {
  color: white;
  margin:10px;
  margin-top: 20px;
  padding-top: 40px;
}
.home-experience h2 {
  margin: auto;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
.experience-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.experience-card {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  opacity: .8;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
}
.experience-card ul {
  text-align: left;
  padding-left: 10px;
}
.experience-card h4 {
  font-size: 1.1em;
  font-weight: bold;
}
.experience-card img {
  width: 50px;
  height: auto;
  margin: auto;
  align-self: flex-end;
}
/*.experience-cards div:span{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: #ddd;
  padding: 20px;
  text-align: center;
  font-size: 1.4em;
}*/
.experience-card:hover {
  background-color: #b20000;
  opacity: .5;
  color: white;
}
.experience-card:hover h4{
  color: white;
}
@media(max-width: 1000px) {
  .experience-cards {
    flex-wrap: wrap;
  }
  .experience-card {
    height: 300px;
    font-size: 1em;
  }
  .experience-card h4 {
    font-size: 1em;
  }
  .home-experience {
    height: auto;
  }
}
.libutton-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  padding: 10px;
}
.linkedin-button {
  margin: 10 auto;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  opacity: .5;
  text-decoration: none;
  outline: none;
  text-align: center;
  color: #b20000;
  font-weight: bold;
}
.linkedin-button:hover {
  background-color: #b20000;
  opacity: .5;
  color: white;
}

/***************************home portfolio*******************************/

.portfolio {
  height: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 35px;
  /*display: flex;
  justify-content: center;*/
}
.portfolio-header {
  margin:10px;
  /*margin-top: 20px;*/
}
.home-portfolio-intro {
  /*margin: 10px;*/
  padding: 10px;
  padding-top: 40px;
  text-align: center;
  width: 80%;
  margin: auto;
}
.portfolio h2 {
  margin: auto;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
.portfolio-cards a span{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: #ddd;
  padding: 20px;
  text-align: center;
  font-size: 1.4em;
}
.portfolio-cards a:hover span, a.hover span, a.hover_effect span, a:active span {
  display: block;
  /*-webkit-user-select: none;
  -webkit-touch-callout: none;*/
}
@media(max-width: 800px){
  .portfolio-cards a span {
    display: block;
  }
}
/*.portfolio-cards a.hover_effect span {
  display: block;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}*/
.portfolio-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolio-cards div {
  width: 400px;
  height: auto;
  margin: 5px;
  position: relative;
}
@media(min-width: 1000px) {
  .portfolio-cards div {
    width: 500px;
    font-size: 1.1em;
  }
}
.portfolio-cards img {
  max-width: 100%;
  height: auto;
  display: block;
}
.portfolio-cards img:hover {
  opacity: .1;
  display: block;
}
.portfolio-cards p:hover {
  display: block;
}

/***************************contact*******************************/

.contact-section {
  background: url('../images/pen_small.jpg') no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  display: block;
  /*margin-bottom: 40px;*/
  /*display: flex;*/
  /*justify-content: center;
  flex-direction: column;*/
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-intro {
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  width: 80%;
  margin: auto;
  color: white;
  /*background-color: white;
  border-radius: 4px;
  opacity: .8;*/
}
.contact h2 {
  margin: auto;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  color: white;
}

/***************************footer*******************************/
.footer-icons {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}
.footer-icons img:hover {
  transform: scale(1.1);
}
.social-icon { width: auto; height: 25px; padding: 2px 15px;}
