<div class="about-top">
  <p>
    About Me
  </p>
</div>
<!-- navbar -->
 <div data-spy="affix" data-offset-top="50">
   <nav class="navbar navbar-default" id="nav_bar">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#home"><img class="navlogo" alt="Kyle Evans" src="./images/kegray.png" /></a>
        </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <ul class="nav navbar-nav">
        </ul> -->
       <ul class="nav navbar-nav navbar-right">
         <li><a href="#home">Home<span class="sr-only">(current)</span></a></li>
         <li><a href="#about">About</a></li>
         <li><a href="#experience">Experience</a></li>
         <li><a href="#portfolio">Portfolio</a></li>
         <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <!-- end navbar -->
<div class="about-middle">
  <div class="home-about-intro">
    <h2>A Little More</h2>
    <div class="redline"></div>
    <p class="about-text">
      In addition to my product management work (and some of the things that go along with it), I enjoy a variety of hobbies and other activities outside of the office
    </p>
  </div>
  <div class="about-cards">
    <div class="about-about-card">
       <div class="about-card-pic">
         <img src="./images/kyle-shop.jpg" />
       </div>
       <div class="about-card-text">
        My dad has long been a craftsman, having built many of the pieces of furniture we had growing up. While always interested in woodworking, I really caught the bug several years ago and also began building furniture and home decor, as well as creating other household items, from cutting boards to ice cream scoops. The hobby soon took over the entire garage and had to be moved to its own space. So we built a small shop in order to house all the tools and projects. And we've just been expanding since then. Check out my <a href="http://evanswoodshop.com/#/">Woodshop Site</a> for more info.
       </div>
     </div>
     <div class="about-about-card">
        <div class="about-card-pic">
          <img src="./images/family.jpg" />
        </div>
        <div class="about-card-text">
          <p>
            I'm fortunate enough to be married to the most amazing, gorgeous women I've ever met. We've got two great little kids that keep us on our toes constantly. And a golden retriever who is incredibly spazzy but incredibly sweet.
          </p>
        </div>
      </div>
      <div class="about-about-card">
         <div class="about-card-pic">
           <img src="./images/pen2.jpg" />
         </div>
         <div class="about-card-text">
           <p>
             I'm an avid reader, and usually am working on at least a couple books at any given time. I'm a big fan of science fiction as well as historical books. And of course, I'm always trying to keep up with the latest and greatest in the business and product management world - through books, podcasts and forums/blogs. You can keep up with me on <a href="https://www.goodreads.com/kylelarryevans">Goodreads</a>.
           </p>
         </div>
       </div>
  </div>
 </div>
