<div class="home-top">
  <p class="HC">
    Kyle Evans
  </p>
</div>
<!-- navbar -->
 <div data-spy="affix" data-offset-top="50">
   <nav class="navbar navbar-default" id="nav_bar">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" ui-sref="home"><img class="navlogo" alt="Evans Woodshop" src="./images/logo.jpg" /></a>
        </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <ul class="nav navbar-nav">
        </ul> -->
       <ul class="nav navbar-nav navbar-right">
         <li><a ui-sref="home">Home<span class="sr-only">(current)</span></a></li>
         <li><a href="about">About</a></li>
         <li><a href="skills">Skills</a></li>
         <li><a href="portfolio">Portfolio</a></li>
         <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <!-- end navbar -->
  <div class="home-about">
    <div class="home-about-intro">
      <h2>About Me</h2>
      <div class="redline"></div>
      <p>
        Brief Intro Text
      </p>
    </div>
    <div class="home-about-cards">
      <div class="home-about-cards-left">
        <div class="about-card"><p>Product Manager</p></div>
        <div class="about-card"><p>Web Developer</p></div>
      </div>
      <div class="home-about-cards-right">
        <div class="about-card"><p>Passionate Learner</p></div>
        <div class="about-card"><p>Maker</p></div>
      </div>
    </div>
  </div>

  <div class="home-experience">
    <div class="home-experience-header"><h2>Experience</h2></div>
    <div class="redline"></div>
    <div class="experience-cards">
      <div class="experience-card">
        <h4>Product Management</h4>
        <p>Experienced product manager</p>
        <img src="./images/hammer.png" />
      </div>
      <div class="experience-card">
        <h4>Web Development</h4>
        <p>Experienced web developer</p>
        <img src="./images/computer.png" />
      </div>
      <div class="experience-card">
        <h4>Finance</h4>
        <p>Experienced finance</p>
        <img src="./images/money.png" /><span></span>
      </div>
      <div class="experience-card">
        <h4>Leader</h4>
        <p>Experienced leader</p>
        <img src="./images/leader.png" />
      </div>
    </div>
  </div>

  <div class="portfolio">
   <div class="portfolio-header"><h2>Portfolio</h2></div>
   <div class="redline"></div>
  </div>
